<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h5 class="widgetheading">Our Contact</h5>
					<address>
						Falcon Star Industries<br>
						85/1, K.H Ranganatha Layout,<br>
						Bengaluru - 560039
					</address>
					<p>
						<i class="icon-phone"></i> (+91) 7019231089 <br>
						<i class="icon-envelope-alt"></i> falconstarbags@gmail.com
					</p>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="widget">
					<h5>Products</h5>
                    Laptop Backpack, School bags, Sleeves, Gym Bags, Shoe Bags, Sling Bags, Waist Bags, Duffle Bags, Sports Bags, 
                    Toiletry Bags, Jute Bags, Medical bags, Lunch Bags, camera Bags, Travel bags
				</div>
			</div>
            <div class="col-lg-4">
				<div class="widget">
					<h5>Information</h5>
                    <p>We sell our product thru online in the name of <b>Skyfit</b> in Amazon & Flipkart.</p>
                    <br/>
                    <p><a href="/contact"> Click here for Bulk Enquiries</a></p>
				</div>
			</div>
            
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>&copy; 2024 All right reserved. By </span><a href="https://falconstarindustries.in/" target="_blank">FalconStar Industries</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>