---
layout: layouts/base.njk
title: FalconStar - Contact
tag: contact
---
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Contact Us</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	
	<div class="container">
	<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Get In Touch!</h3>
									<p>Welcome to the hub of bag-tastic communication! We're delighted to assist you on your journey to bag happiness. Whether you're a business looking for the perfect laptop bag to elevate your corporate style or an individual seeking a stylish companion for your tech adventures, we're here for you.
									</p>
								</div> 
							</div>
						</div>
	<div class="row">
								<div class="col-md-8">
									<div class="alert alert-success hidden" id="contactSuccess">
										<strong>Success!</strong> Your message has been sent to us.
									</div>
									<div class="alert alert-error hidden" id="contactError">
										<strong>Error!</strong> There was an error sending your message.
									</div>
									<div class="form-container">
										<form id="contact-form" role="form" class="needs-validation"  name="contactForm"  novalidate method="post" onsubmit = "return validate()" action="#">
											<div class="form-group has-feedback">
												<label for="name">Name*</label>
												<input type="text" class="form-control" id="name" name="name" placeholder="Name">
												<span class="errors"></span><br>
												
											</div>
                                            <div class="form-group has-feedback">
												<label for="phone">Phone Number*</label>
												<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone Number">
												<span class="errors"></span><br>
											</div>
											<div class="form-group has-feedback">
												<label for="email">Email*</label>
												<input type="text"
												class="form-control" id="email" name="email" placeholder="Email">
												<span class="errors"></span><br>
											</div>
											<div class="form-group has-feedback">
												<label for="message">Your Requirements*</label>
												<textarea class="form-control" rows="6" id="message" name="message" placeholder="Your requirements"></textarea>
												<span class="errors"></span><br>
											</div>
											<input type="submit" value="Submit" class="btn btn-default">
										</form>
									</div>
								</div>
							</div>
	</div>
 
	</section>