---
layout: layouts/base.njk
title: FalconStar
tag: home
---
<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="assets/images/slides/1.jpeg" alt="" />
                <div class="flex-caption">
                    <h3>Laptop Bags</h3> 
					<p>....</p>  
                </div>
              </li>
              <li>
                <img src="assets/images/slides/2.jpeg" alt="" />
                <div class="flex-caption">
                    <h3>Laptop Bags</h3> 
					<p>....</p>  
                </div>
              </li>
              <li>
                <img src="assets/images/slides/3.jpeg" alt="" />
                <div class="flex-caption">
                    <h3>Laptop Bags</h3> 
					<p>....</p>  
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
	<div class="content_white">
  <h1>Falcon Star</h1>
  <p>Over 20+ Years of expertise in bags manufacturing.</p>
</div>
<div class="featured_content">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 feature_grid1"> <i class="fa fa-trophy fa-3x"></i>
        <h3><a href="#">Legimusinm</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-picture-o fa-3x"></i>
        <h3><a href="#">Serspiciatis</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-flask fa-3x"></i>
        <h3><a href="#">Quisqugesta</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> <i class="fa fa-user fa-3x"></i>
        <h3><a href="#">Architecto</a></h3>
        <p>Lorem ipsum dolor sit amet, unde omnis iste natus error sit voluptatem accusanti quas potenti malesuada vel phasellus.</p>
        <a href="#" class="feature_btn">More</a> </div>
    </div>
  </div>
</div>
 
	
<div class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container"> 
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        <p>
                            <b>- Mark John -</b>
                        </p>
                    </div>
                    <div class="item">
                        <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        <p>
                            <b>- Jaison Warner -</b>
                        </p>
                    </div>
                    <div class="item active">
                        <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        <p>
                            <b>- Tony Antonio -</b>
                        </p>
                    </div>
                    <div class="item">
                        <p>Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
                        <p>
                            <b>- Leena Doe -</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>