---
layout: layouts/base.njk
title: FalconStar
tag: home
---
<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="assets/images/slides/1.jpeg" alt="" />
                <div class="flex-caption">
                    <h3>Laptop Bags</h3> 
					<p>....</p>  
                </div>
              </li>
              <li>
                <img src="assets/images/slides/2.jpeg" alt="" />
                <div class="flex-caption">
                    <h3>Laptop Bags</h3> 
					<p>....</p>  
                </div>
              </li>
              <li>
                <img src="assets/images/slides/3.jpeg" alt="" />
                <div class="flex-caption">
                    <h3>Laptop Bags</h3> 
					<p>....</p>  
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
	<div class="content_white">
  <h1>Falcon Star</h1>
  <p>Over 20+ Years of expertise in bags manufacturing.</p>
</div>
<div class="featured_content">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Duffle Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/duffle.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Jute Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/jute.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Laptop Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/laptop.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Lunch Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/lunch.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Sleeves</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/sleeves.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> 
        <h3><a href="#">Sling Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/sling.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Trekking Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/trekking.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Waist Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/waist.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
    </div>
  </div>
  </div>  
</div>
