---
layout: layouts/base.njk
title: FalconStar
tag: home
---
<section id="featured">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="assets/images/slides/1.png" alt="" />
                <div class="flex-caption">
                </div>
              </li>
              <li>
                <img src="assets/images/slides/2.png" alt="" />
                <div class="flex-caption">
                </div>
              </li>
              <li>
                <img src="assets/images/slides/3.png" alt="" />
                <div class="flex-caption">
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
<div class="content_green">
  <img src="/assets/images/skyfit.jpeg" alt="Brand" class="brand-img" height="160px"/>
  <br/><br/>
  <p class="skyfit_desc">Over 20+ Years of expertise in bags manufacturing. 
    All kind of bags with a team of highly skilled professionals & 4 levels of QC check points</p>
</div>
<div class="featured_content">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Duffle Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/duffle.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Jute Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/jute.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Laptop Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/laptop.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Lunch Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/lunch.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Sleeves</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/sleeves.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1"> 
        <h3><a href="#">Sling Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/sling.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Trekking Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/trekking.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
      <div class="col-md-3 feature_grid1">
        <h3><a href="#">Waist Bags</a></h3>
        <img class="featured-bag-img" src="/assets/images/featured-bags/waist.jpeg"/>
        <a href="#" class="feature_btn">More</a> </div>
    </div>
  </div>
  </div>  
</div>
