---
layout: layouts/base.njk
title: FalconStar - Laptop Bags
tag: laptop
tile_title: Laptop Bags
---
<section class="laptop">
    <div class="clearfix">
    <div class="container">
    <section>
    <ul id="thumbs">
            {% for image_name in collections.laptop %}
                {% include "components/thumb.njk" %}
            {% endfor %}
    </ul>
    </section>
    </div>
</section>