---
layout: layouts/base.njk
title: FalconStar - QC Process
tag: process
---
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Our Process</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
					
					<div class="about">
						
						<div class="row"> 
							<div class="col-md-12">
								<h3>Quality Control Process</h3>
								<p><strong>Stage 0: Raw Material Inspection</strong></p>
    <p>Upon receiving raw materials, we conduct a thorough quality inspection before the manufacturing process begins.</p>

    <p><strong>Stage 1: Cutting Inspection</strong></p>
    <p>Our Cutting Inspectors verify measurements, cross-checking them with clients' size requirements. Any size discrepancies are identified and rejected to ensure zero defects.</p>

    <p><strong>Stage 2: Stitching Quality Check</strong></p>
    <p>Stitching Inspectors ensure flawless stitching quality, maintaining zero defects in the process.</p>

    <p><strong>Stage 3: Final Product Inspection by QC Manager</strong></p>
    <p>Our QC Manager inspects each finished product individually, passing only those meeting quality standards to the packing section. Zero defects are ensured at this stage.</p>

    <p><strong>Stage 4: Factory Manager's Final Inspection</strong></p>
    <p>The Factory Manager oversees and inspects all three production stages. They ensure that products are neatly and safely packed before dispatch, maintaining zero defects throughout.</p>
							</div>
						</div>
						
						<hr>
						
						 						
						 
						<br>
						
					</div>
									
				</div>
	</section>